.nav-link {
    color: blue;
}

* {
    font-size: 1rem;
}

.active {
    color: red;
}

.servicescontainer {

    align-items: start;
    justify-items: center;
    display: grid;
    grid-template-columns: 20VH 20vh;
    grid-template-rows: 3vh 3vh;
}

.contactcontainer,.navcontainer,.footercontainer {
    background-color: #b1b1b3;
    color: black;
}

.title {
    font-size: 1.5em;
}

img {
    height: 200px;
}

.text {
    font-size: 18px;
    
}


.services {
    height: fit-content;
    display: inline-flex;
    flex-wrap: nowrap;
    height: fit-content;
    flex-direction: column;
    width: fit-content;
    z-index: 10;
}

a {
    color: lightblue;
    font-weight: bold;
    font-variant: small-caps;
}

a:visited {
    color: lightblue;
    }

button:hover {
    color: white;
    background-color: blue;
}

button:active {
    color: whitesmoke;
    background-color: red;
}

button{ 
    color: white;
    width: 350px;
}

.dropdown-menu {
    width: max-content;
    background-color: black;
}

.d-flex {
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-grow: 0;
    
}

.servcontainer {
    padding-left: 100px;
}

.dropdown-menu {
    z-index: 999;
}

#extension {
    font-size: 0.85rem;
}

@media (max-width: 801px) {
    .d-flex {
        display: inline-flex;
        flex-direction: column;
        flex-grow: 0;
        width: max-content;
    }

    .servicescontainer {
        display: grid;
        width: 120px;
        grid-template-columns: 3vh;
        grid-template-rows: 4vh;
    }

    * {
        font-size: 1.12rem;
    }

    .servcontainer {
        margin-top: 20px;
        align-content: center;
    }

    .dropdown-menu {
        width: max-content;
        height: fit-content;
        z-index: 10;
        
    }
}

/* 
   = LARGE DISPLAYS   =
   For small screens and tablets in vertical orientation, 
   show a horizontal menubar in the header. 
   Hide the header for screens that are large enough */
   @media only screen and (min-width: 801px) {
    .lg-page-layout-region-header {
      display: none;
    }
  }
  
  /* 
       = iPads and Small Monitors  =*/
  @media only screen and (min-width: 642px) and (max-width: 800px) {
    /* Hide the left nav bar for screens that aren't large enough */
    .sm-page-layout-region-left {
      display: none;
    }
  
    /* Move the center of the page to the left edge of the screen since the left
           navbar is no longer there */
    .sm-page-layout-region .sm-page-layout-region-center {
      margin-left: 0px !important;
    }
  }
  
  /* 
       = Mobile Phones  =*/
  @media only screen and (max-width: 641px) {
    /* Hide the header from Mobile Phones */
    .sm-page-layout-region-header .sm-page-widget-logo,
    .sm-page-layout-region-top .sm-page-widget-nav {
      display: none !important;
    }
  }

  .top-nav,
.left-nav {
  background-color: rgb(108, 117, 125);
  padding: 20px;
}

.navimg {
    padding-left: -20px;
} 

#title {
    font-size: 2rem;
    color: black;
    text-decoration: underline;
    text-decoration-color: red;
  }