.nav-link {
    color: blue;
}



.active {
    color: red;
}

.servicescontainer {

    align-items: end;
justify-items: center ;
    display: grid;
    grid-template-columns: 30vh auto;
    grid-template-rows: auto 1vh;
}

.contactcontainer,.navcontainer,.footercontainer {
    background-color: #b1b1b3;
    color: black;
}

.title {
    font-size: 1.5em;
}

img {
    height: 200px;
}

.text {
    font-size: 18px;
    
}


.services {
    height: fit-content;
    display: inline-flex;
    flex-wrap: nowrap;
    height: fit-content;
    flex-direction: column;
    width: fit-content;
    z-index: 10;
}

a {
    color: lightblue;
    font-weight: bold;
    font-variant: small-caps;
}

a:visited {
    color: lightblue;
    }

button:hover {
    color: white;
    background-color: blue;
}

button:active {
    color: whitesmoke;
    background-color: red;
}

button{ 
    color: white;
}

.dropdown-menu {
    width: max-content;
    background-color: black;
}

.d-flex {
    flex-shrink: 0;
    flex-wrap: nowrap;
}

@media (max-width: 1100px) {
    .d-flex {
        display: inline-flex;
        flex-direction: column;
    }
}
