.nav-link {
    color: blue;
}

* {
    font-size: 1rem;
}

.active {
    color: red;
}

.servicescontainer {

    align-items: end;
    justify-items: center ;
    display: grid;
    grid-template-columns: 20VH 20vh;
    grid-template-rows: 3vh 3vh;
}

.contactcontainer,.navcontainer,.footercontainer {
    background-color: #b1b1b3;
    color: black;
}

.title {
    font-size: 1.5em;
}

img {
    height: 200px;
}

.text {
    font-size: 18px;
    
}


.services {
    height: fit-content;
    display: inline-flex;
    flex-wrap: nowrap;
    height: fit-content;
    flex-direction: column;
    width: fit-content;
    z-index: 10;
}

a {
    color: lightblue;
    font-weight: bold;
    font-variant: small-caps;
}

a:visited {
    color: lightblue;
    }

button:hover {
    color: white;
    background-color: blue;
}

button:active {
    color: whitesmoke;
    background-color: red;
}

button{ 
    color: white;
    width: 350px;
}

.dropdown-menu {
    width: max-content;
    background-color: black;
}

.d-flex {
    flex-shrink: 0;
    flex-wrap: nowrap;
    flex-grow: 0;
    
}

.servcontainer {
    padding-left: 100px;
}

.dropdown-menu {
    z-index: 999;
}

@media (max-width: 1100px) {
    .d-flex {
        display: inline-flex;
        flex-direction: column;
        flex-grow: 0;
        width: max-content;
    }

    .servicecontainer {
        display: grid;
        width: 120px;
        grid-template-columns: 20vh;
        grid-template-rows: 4vh;
    }

    * {
        font-size: 1.12rem;
    }

    .servcontainer {
        margin-top: 20px;
        align-content: center;
    }

    .dropdown-menu {
        width: max-content;
        height: fit-content;
        z-index: 10;
    }
}